{% load static %}

<div class="site-section banner-image banner-salon-1">
    <div class="overlay-black text-center pd-t-40 pd-b-40 ">
        <h3 class="ft-white ft-50 ft-upper mg-b-20">Unmatched Amenities</h3>
        <p class="ft-white w-760 mg-b-20">Each space is intended to provide the privacy and comfort needed to make your customers feel fully immersed in their beauty experience. And with the added safety of GPS air purification systems installed in each unit, we aim to provide the cleanest environment possible for you and your clients.</p>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 pd-t-40">
                    <p class="ft-bold ft-white">Room Amenities</p>
                    <p class="ft-white">• GPS air purification system that purifies indoor air by reducing airborne particulates, odors and pathogens. This is the only air purification product that has effectively neutralized SARS-CoV-2 w/ a 99.9% reduction rate.</p>
                    <!--p class="ft-white">• Individual thermostats in each room</p-->
                    <p class="ft-white">• Smart glass windows – switch from clear to frosted windows at the flip of a switch.</p>
                    <p class="ft-white">• Digital exterior signs – advertise current promotions and services, and the ability to book an appointment without you having to be there.</p>
                    <p class="ft-white">• Sound-insulated walls and ceilings</p>
                    <p class="ft-white">• Digital keypad locks for doors</p>
                    <p class="ft-white">• High-end flooring</p>
                </div>
                <div class="col-lg-4 pd-t-40">
                    <p class="ft-bold ft-white">Styling Station</p>
                    <p class="ft-white">• High-end LED backlit mirror for full detail looks</p>
                    <p class="ft-white">• Built-in tool holders with cord-hiding receptacles</p>
                    <p class="ft-white">• Ample supply and tool storage room</p>
                    <p class="ft-white">• Custom hand made styling chairs for superior comfort</p>
                </div>
                <div class="col-lg-4 pd-t-40">
                    <p class="ft-bold ft-white">Shampoo Station</p>
                    <p class="ft-white">• Ambient LED lights under each counter</p>
                    <p class="ft-white">• Easy to clean hard counter surfaces</p>
                    <p class="ft-white">• Tilting Shampoo Bowl for comfort</p>
                    <p class="ft-white">• High pressure ionizing spray head</p>
                    <p class="ft-white">• High-end reclining shampoo chair with footrest</p>
                    <p class="ft-white">• Built-in back bar and color storage</p>
                    <p class="ft-white">• Ample storage for towels, smocks, and cleaning supplies</p>
                </div>
            </div>
        </div>
    </div>
</div>
