{% load static %}
<div class="site-section home-banner">
    <div class="banner-contents">
        <img class="banner-img m-h-320" src="/static/images/contact_banner-min.jpg">
        <div class="overlay overlay-yellow"></div>
        <div class="home-banner-contents flex-bottom pd-b-40">
            <div class="home-banner-main-contents text-center">
                <h2 class="ft-white ft-50 ft-upper mg-b-20">{{ page.title }}</h2>
                <img src="{% static 'images/arrow-bottom.svg' %}">
            </div>
        </div>
    </div>
</div>
