{% comment %}
{% load static %}
<div class="site-section section-4">
    <div class="banner-contents">
        <img class="banner-img" src="{% static 'images/home-bg-2.jpg' %}">
        <div class="overlay overlay-yellow"></div>
        <div class="home-banner-contents flex-center">
            <div class="home-banner-main-contents text-center">
                <h3 class="ft-white ft-50 ft-upper mg-b-20">Seeing is believing</h3>
                <p class="ft-white mg-b-20">Hear from others on what the Summit difference means to them.</p>
                <div class="testimonial bg-yellow pd-40-80 m-pd-40 w-960 m-w-320">
                    <div class="testimonial-main">
                        <blockquote class="testimonial-1">
                            <!--span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span-->
                            <p class="ft-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus totam sit delectus earum facere ex ea sunt, eos?</p>
                            <p class="mg-b-0 ft-bold ft-white"><span class="ft-white">Mike Dorney</span> &mdash; <span class="ft-white">CEO and Co-Founder</span></p>
                        </blockquote>

                        <blockquote class="testimonial-1">
                            <p class="ft-white">Eligendi earum ad perferendis dolores, dolor quas. Ullam in, eaque mollitia suscipit id aspernatur rerum! Sit quibusdam ullam tempora quis, in voluptatum maiores veritatis recusandae!</p>
                            <p class="mg-b-0 ft-bold ft-white"><span class="ft-white">James Smith</span> &mdash; <span class="ft-white">CEO and Co-Founder</span></p>
                        </blockquote>

                        <blockquote class="testimonial-1">
                            <p class="ft-white"> Officia, eius omnis rem non quis eos excepturi cumque sequi pariatur eaque quasi nihil dicta tempore voluptate culpa, veritatis incidunt voluptatibus qui?</p>
                            <p class="mg-b-0 ft-bold ft-white"><span class="ft-white">Mike Dorney</span> &mdash; <span class="ft-white">CEO and Co-Founder</span></p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}
