{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}Tenant Information File{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title='Tenant Information File' subtitle='Pick the tenant information file from google drive to sync with location pages.' icon=header_icon %}

    <div class="nice-padding">
        <p>'You are not in the currently authorized session. Click yes if you want to reset the google authorization and pick a tenant file.'</p>
        <form action="{% url 'google-api-auth' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="{% trans 'Yes, reset credentials' %}" class="button serious" />
        </form>
    </div>
{% endblock %}